  <Environments>
    <Environment>
      <Name>dev</Name>
      <ArasConnection>
        <Url>http://localhost/innovator</Url>
        <Db>InnovatorSolutions</Db>
        <User>root</User>
        <Password>innovator</Password>
      </ArasConnection>
      <Database>
        <Sqlcmd>sqlcmd.exe</Sqlcmd>
        <Server>.\SQLEXPRESS</Server>
        <DBName>InnovatorSolutions</DBName>
        <BackupDirectory>C:\temp</BackupDirectory>
      </Database>
    </Environment>
  </Environments>
