<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Innovator.Client" version="2020.2.23.1756" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.1" targetFramework="net472" developmentDependency="true" />
</packages>