<?xml version="1.0"?>
<Configs>
  <Environments>
    <Environment name="dev">
      <ArasConnection>
        <Url>http://localhost/innovator</Url>
        <Db>InnovatorSolutions</Db>
        <User>root</User>
        <Password>innovator</Password>
      </ArasConnection>
    </Environment>
  </Environments>
</Configs>