<?xml version="1.0"?>
<Configs>
  <Environments>
    <Environment name="dev">
      <ArasConnection>
        <Url>http://localhost/innovator</Url>
        <Db>InnovatorSolutions</Db>
        <User>root</User>
        <Password>innovator</Password>
      </ArasConnection>
      <Database>
        <Sqlcmd>sqlcmd.exe</Sqlcmd>
        <Server>.\SQLEXPRESS</Server>
        <DBName>HCAras12</DBName>
        <BackupDirectory>C:\Backups\Databases\HcAras12</BackupDirectory>
      </Database>
    </Environment>
  </Environments>
</Configs>